html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 27%, #e3e3e3 76%, #dbdbdb 100%);
    font-family: 'PT Serif', serif;
}

.App {
    margin: 0 auto;
}

.buy-btn {
    position: relative;
    top: 100px;
    left: 55%;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    font-size: 14px;
    font-weight: bolder;
    background-color: navy;
    color: white;
    box-shadow: .5px .5px grey;
    cursor: pointer;
}

footer {
    position: fixed;
    height: 10px;
    width: 100%;
    font-size: 12px;
    background: #666666;
    padding: 10px 10px 20px 30px;
    bottom: 0;
    text-align: center;
    color: white;
    border-top: 1px solid black;
}