html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 27%, #e3e3e3 76%, #dbdbdb 100%);
    font-family: 'PT Serif', serif;
}

.App {
    height: 80%;
    width: 45%;
    position: relative;
    top: 60px;
    margin: 0 auto;
}

.buy-btn {
    position: relative;
    top: 15px;
    left: 60%;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    font-size: 13px;
    font-weight: bolder;
    background-color: navy;
    color: white;
    box-shadow: .5px .5px grey
}