.basket-div {
    /* height: 100%; */
    width: 45%;
    margin: 0 auto;
    margin-top: 50px;
}

.basket-info {
    position: relative;
    top: 100px;
    left: 28%;
    font-size: 13px;
}

.basket-title {
    position: relative;
    top: 100px;
    left: 28%;
    font-size: 30px;
    text-shadow: 0px 2.5px 2px grey;
}