* {
    font-family: 'PT Serif', serif;
}

.product-table {
    position: relative;
    top: 50px;
}

.table-title {
    font-size: 14px;
    font-weight: bolder;
    color: black;
}

.table-info {
    font-size: 12px;
}

input[type=number] {
    text-align: right;
    width: 40px;
}

#striped-row {
    background-color: #DDDDDD
}

.cost {
    color: grey;
}

.total-cost {
    font-size: 15px;
    font-weight: bolder;
    color: black;
}