.product-container {
    position: relative;
    top: 120px;
}

.table-title {
    font-size: 15px;
    color: black;
    margin-right: 50px;
    font-weight: bolder;
}

.table-info {
    font-size: 14px;
}

input[type="number"] {
    text-align: right;
    width: 40px;
}

.total-cost {
    font-weight: bolder;
}

#cost-div {
    position: relative;
    top: 25px;
}

.buy-btn {
    position: relative;
    top: 30px;
    left: 45%;
    height: 40px;
    width: 100px;
    border-radius: 10%;
    font-size: 15px;
    font-weight: bolder;
    background-color: navy;
    color: white;
    box-shadow: 0.5px 0.5px grey;
    cursor: pointer;
}