#product-div {
    height: 80%;
    width: 45%;
    margin: 0 auto;
}

#product-table {
    position: relative;
    top: 100px;
}

.table-title {
    font-size: 12px;
    font-weight: bolder;
    color: black;
}

.table-info {
    font-size: 12px;
}

input[type="number"] {
    text-align: right;
    width: 40px;
}

#striped-row {
    background-color: #dddddd;
}

.cost {
    color: grey;
}

.total-cost {
    font-size: 15px;
    font-weight: bolder;
    color: black;
}